
[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

symbolic-links=0

log-error=/var/log/mysqld.log
log_output=file
general_log = 1
general_log_file=/var/lib/mysql/queries.log
pid-file=/var/run/mysqld/mysqld.pid
max_connections = 5000
port = 3306
default-time-zone='+05:30'
